html, body {
    height: 100%;
    margin: 0;
    background-color: skyblue;
    scroll-behavior: smooth;
}

#bg {
    width: auto;
}

#bg img {
    width: 100%;
    height: 100vh;
    
}

#name h2 {
    font-size: 200%;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: royalblue;
    font-style: italic;
}

#name h1 {
    font-size: 250%;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: royalblue;
}

.head {
    font-size: 175%;
    text-align: center;
    padding-top: 30px;
}

#About, #Project, #Contact{
    text-align: center;
}

#About img {
    width: 300px;
    height: 300px;
}

#Details h4{
    margin-left: 25%;
    font-size: 150%;
}

#Details p {
    margin-left: 25%;
}

#Contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100px;
}

.Button {
    bottom: 180px;
    position: fixed;
    width: 100%;
}

.Button button{
    background-color: black;
    border: 1px white;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 20%;
    display: block;
}

#top {
    bottom: 0px;
    left: 94%;
    position: fixed;
    width: 100%;
}

#top button {
    background: black;
    border: 1x white;
    color: white;
    padding-top: 5px 10px;
    cursor: pointer;
    width: 5%;
    display: block;
}

#top button:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

button:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

.Button button:not(:last-child) {
    border-bottom: none;
}